<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">Página Inicial</a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Lista de Faxineiras</a>
        </li>
    </ul>
</nav>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Lista de Faxineiras
            </h1>
        </div>
    </div>
</div>

<table class="table is-fullwidth is-striped is-hoverable">
    <thead>
        <tr>
            <th></th>
            <th>CPF</th>
            <th>Primeiro Nome</th>
            <th>Sobrenome</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>CPF</th>
            <th>Primeiro Nome</th>
            <th>Sobrenome</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
        </tr>
    </tfoot>
    <form method="POST" action="/ApagarFuncionario/ApagarFaxineira">
        <tbody>
            {{#each funcionarios}}
            <tr>
                <th>
                    <button name="cpf" type="submit" value="{{cpf}}">
                        <span class="icon is-small">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                </th>
                <th>{{cpf}}</th>
                <td>{{nome_prenome}}</td>
                <td>{{nome_sobrenome}}</td>
                <td>{{rg}}</td>
                <td>{{data_de_nascimento}}</td>
                <td>{{email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </form>
</table>
