<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">Página Inicial</a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Cadastrar {{servico}}</a>
        </li>
    </ul>
</nav>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                Cadastrar {{servico}}
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <form method="POST" action="/CadastrarServico/Cadastrar{{#if cadastrar_servico}}Servico{{/if}}{{{servico}}}">
            <div class="columns is-multiline">
                <div class="column">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                CPF da Cozinheira
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="cpf_cozinheira" class="input" type="text" placeholder="CPF" value="{{cpf_cozinheira_value}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
					
					<div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                CPF da Nutricionista
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="cpf_nutricionista" class="input" type="text" placeholder="CPF" value="{{cpf_nutricionista_value}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                Data/Horário de Início de Serviço
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="hora_inicio" class="input" type="text" placeholder="Data/Horário" value="{{hora_inicio_value}}" {{#unless cadastrar_servico}}disabled{{/unless}}>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
					
					<div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                Horário de Fim de Serviço
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="hora_fim" class="input" type="text" placeholder="Data/Horário" value="{{hora_fim_value}}" {{#unless cadastrar_servico}}disabled{{/unless}}>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">
                                        Cadastrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label" />
                        <p class="help is-danger is-right">
                            Campos com * são obrigatórios.
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="column">
    {{#if erro}}
    <div class="notification is-danger">
        {{erro}}
    </div>
    {{/if}}
</div>