<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">Página Inicial</a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">
                {{#if cadastrar}} Cadastrar {{pessoa}} {{else}} Alterar {{pessoa}} {{/if}}
            </a>
        </li>
    </ul>
</nav>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                {{#if cadastrar}} Cadastrar {{pessoa}} {{else}} Alterar {{pessoa}} {{/if}}
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <form method="POST" {{#if cadastrar}} {{!-- Cadastrar --}} action="/Cadastrar{{{pessoa}}}"
            {{else}} {{!-- Alterar --}} action="/AlterarFuncionario/Alterar{{{pessoa}}}" {{/if}}>
            <div class="columns is-multiline">
                <div class="column">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                ID FORNECEDOR
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="id_fornece" class="input" type="text" placeholder="ID FORNECEDOR" value="{{id_fornece_value}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                Nome Fornecedor
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="nome_fornecedor" class="input" type="text" placeholder="NOME" value="{{nome_fornecedor_value}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label" />
                        <p class="help is-danger is-right">
                            Campos com * são obrigatórios.
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="column">
    {{#if erro}}
    <div class="notification is-danger">
        {{erro}}
    </div>
    {{/if}}
</div>
