<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="/">Página Inicial</a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">
                {{#if cadastrar}} Cadastrar República {{else}} Alterar República {{/if}}
            </a>
        </li>
    </ul>
</nav>

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">
                {{#if cadastrar}} Cadastrar República {{else}} Alterar República {{/if}}
            </h1>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <form method="POST" {{#if cadastrar}} {{!-- Cadastrar --}} action="/CadastrarRepublica/Cadastrar"
            {{else}} {{!-- Alterar --}} action="/AlterarRepublica/Alterar" {{/if}}>
            <div class="columns is-multiline">
                <div class="column">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                ID
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="id" class="input" type="text" placeholder="ID" value="{{id_republica}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="field-label">
                            <label class="label">
                                STATUS
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="status" value="1" {{#if ativo}}checked{{/if}}> Ativo
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="status" value="0" {{#if inativo}}checked{{/if}}> Inativo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                CEP
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="cep" class="input" type="text" placeholder="CEP" value="{{endereco_cep}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-address-card"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                Endereço
                                <span class="has-text-danger">*</span>
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="logradouro" class="input" type="text" placeholder="Logradouro" value="{{endereco_logradouro}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </p>
                            </div>

                            <div class="field">
                                <p class="control is-expanded">
                                    <input name="numero" class="input" type="text" placeholder="Número" value="{{endereco_numero}}">
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                Complemento
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="complemento" class="input" type="text" placeholder="Complemento" value="{{endereco_complemento}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-at"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">
                                Observações
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control is-expanded has-icons-left">
                                    <input name="observacoes" class="input" type="text" placeholder="Observações" value="{{endereco_observacoes}}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-at"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">
                                        {{#if cadastrar}} Cadastrar {{else}} Alterar {{/if}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label" />
                        <p class="help is-danger is-right">
                            Campos com * são obrigatórios.
                        </p>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="column">
    {{#if erro}}
    <div class="notification is-danger">
        {{erro}}
    </div>
    {{/if}}
</div>